@charset "utf-8";
/* CSS Document */
.dm-sans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{ font-family: "DM Sans", sans-serif;font-size: 16px; color: #666666; margin:0 }

/*Menu*/
.logo{width: 10%; height:10%;margin:0; align-items: center; }
.menu{margin:0; padding: 0; width: 100%; min-height: 50px; align-items: center}
.menu ul{display: flex; alignalign-items: center; list-style: none}
.menu ul li a{text-decoration: none; display:block; padding: 5px 20px; color: rgba(116,114,114,1.00)}
.menu ul li a:hover{background-color:darkred; color:white; border-radius:10px}
.menu_icon img{width:70%; padding:2px}

.banner{width:100%; height:auto}
.img100{width:100%; height:auto}
main{width:100%; min-height:500px}
#banner .owl-dots{position: absolute; bottom: 10px; left:45%}
#banner .owl-dots .owl-dot span{width: 12px; height: 12px;}
#banner .owl-nav {position: absolute; left: 0px; top:40%;width:100%}
#banner .owl-nav [class*=owl-]
{font-size: 50px; color: #FFFFFF}
#banner .owl-nav .owl-next{position: absolute; right: 5%;}
#banner .owl-nav .owl-prev{position: absolute; left:5%;}
#banner .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:darkred;
      text-decoration: none; }
.text-do{color:darkred}
.vien{border: 1px solid darkred; border-radius: 5px; padding: 10px; position:relative; width:100%; overflow: hidden}
.pt_30{padding-top: 30px}
.bong{width: 100%;min-height: 400px; border: 1px solid rgba(116,114,114,1.00); box-shadow: 5px 5px 5px rgba(116,114,114,1.00); padding: 40px }
.form-control{padding:8px; width: 100%; margin-bottom: 10px}
